*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-size: $fs-small;
  font-family: $secondary-font;
  color: $black;
  line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $secondary-font;
  line-height: 1.2;
}

h1 {
  font-size: 6rem;
}

h3 {
  margin-bottom: 2rem;
}

a {
  text-decoration: none;
  color: $black;
}

ul {
  list-style: none;
}
