*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;

  // Prevent flickering from scrollreveal.js
  &.sr .load-hidden {
    visibility: hidden;
  }
}

body {
  font-size: $fs-small;
  font-family: $primary-font;
  color: $black;
  line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $primary-font;
  line-height: 1.2;
}

h1 {
  font-size: 6rem;
}

h3 {
  margin-bottom: 2rem;
}

a {
  text-decoration: none;
  color: $black;
}

ul {
  list-style: none;
}

img {
  // for animation
  filter: brightness(1);
}

// TEXT HIGHLIGHTING

h1::selection,
h2::selection,
h3::selection,
h4::selection,
h5::selection,
h6::selection,
p::selection,
li::selection,
a::selection,
span::selection,
img::selection {
  background-color: $black;
  color: $white;
}
