@import url('https://fonts.googleapis.com/css?family=Karla:400,700|Lora:400,400i,700&display=swap');

// COLOURS

$black: #101010;
$dark-grey: #777;
$light-grey: #d1d1d1;
$white: #ffffff;
$red-accent: #fe5851;
$blue-accent: #9acbec;

// FONT FAMILIES

$primary-font: 'Lora', serif;
$secondary-font: 'Karla', sans-serif;

// FONT SIZES

$mobile-small: 1.8rem;
$mobile-medium: 2.4rem;
$mobile-large: 4rem;
