@import url('https://fonts.googleapis.com/css?family=Karla:400,700|Lora:400,400i,700&display=swap');

// COLOURS

$black: #111;
$dark-grey: #777;
$light-grey: #d1d1d1;
$white: #ffffff;
$red-accent: #fe5851;
$blue-accent: #9acbec;

// BREAKPOINTS

$bp-medium: 640px;
$bp-large: 840px;
$bp-xlarge: 1300px;

// FONT FAMILIES

$primary-font: 'Lora', serif;
$secondary-font: 'Karla', sans-serif;

// FONT SIZES

$fs-xsmall: 1.2rem;
$fs-small: 1.8rem;
$fs-medium: 2.4rem;
$fs-large: 4rem;
$fs-xlarge: 6.4rem;
