.blog-post-page {
  @extend .project-page;

  &__post {
    @extend .project-page__project;
  }

  &__main {
    @extend .project-page__main;
    padding-top: 10vh;

    @media screen and (min-width: $bp-medium) {
      justify-content: center;
    }
  }

  &__image {
    @extend .project-page__image;
  }

  &__heading {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;

    @media screen and (min-width: $bp-medium) {
      width: 50%;
      margin-left: 6vw;
    }
  }

  &__title {
    @extend .project-page__title;

    margin-bottom: 2rem;
  }

  &__content {
    @extend .project-page__details;

    @media screen and (min-width: $bp-medium) {
      display: block;
      padding: 4rem;
    }

    @media screen and (min-width: $bp-large) {
      padding: 8rem;
    }

    @media screen and (min-width: $bp-large) {
      padding: 10rem;
    }
  }

  &__back-link {
    @extend .project-page__back-link;
  }
}
