.blog-post-page {
  @extend .project-page;

  &__post {
    @extend .project-page__project;
  }

  &__main {
    @extend .project-page__main;
    padding-top: 10vh;
  }

  &__image {
    @extend .project-page__image;
  }

  &__title {
    @extend .project-page__title;
  }

  &__author {
    margin-top: -1.5rem;
    margin-bottom: 4rem;
  }

  &__content {
    @extend .project-page__details;
  }

  &__back-link {
    @extend .project-page__back-link;
  }
}
