// ABOUT SECTION //

.about {
  margin-bottom: 6rem;
}

.skills {
  margin-bottom: 6rem;
  &__header {
    margin-bottom: 2rem;
  }

  &__list {
    font-size: $fs-medium;
  }
}

.bio {
  a {
    color: $dark-grey;
    border-bottom: 1px solid $dark-grey;
  }

  & > *:not(:last-child) {
    margin-bottom: 2rem;
  }

  &__resume {
    color: $dark-grey;
    padding-bottom: 5px;
    border-bottom: 1px solid $dark-grey;
  }
}

// PROJECTS SECTION //

.projects {
  text-align: center;
  margin-bottom: 6rem;
  &__header {
    margin-bottom: 4rem;
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    & > :not(:last-child) {
      margin-bottom: 2rem;
    }

    &__title {
      font-weight: 300;
    }

    &__image {
      width: 100vw;
    }

    &::after {
      z-index: 0;
      margin: 4rem auto;
      display: block;
      content: '';
      width: 1px;
      background-color: $light-grey;
      height: 6rem;
    }
  }

  &__page-link {
    color: $dark-grey;
    padding-bottom: 5px;
    border-bottom: 1px solid $dark-grey;
  }
}
