.project-page {
  &__header {
    @extend .projects__header;
    font-size: $mobile-large;
    margin-bottom: 30vh;
    font-weight: 300;
  }

  &__projects {
    @extend .projects;
    margin-top: 30vh;
  }

  &__item {
    @extend .projects__item;

    &:last-child::after {
      // remove vertical rule after last item
      display: none;
    }
  }
}
