.project-page {
  background-color: $black;
  color: $white;

  &__project {
    padding-top: 10vh;
  }

  &__main {
    display: flex;
    flex-direction: column;
    align-items: center;

    & > * {
      margin-bottom: 2rem;
    }

    @media screen and (min-width: $bp-medium) {
      flex-direction: row;
      margin-bottom: 4rem;
    }

    @media screen and (min-width: $bp-large) {
      margin-bottom: 8rem;
    }
  }

  &__image {
    display: block;
    position: relative;
    width: 100vw;

    @media screen and (min-width: $bp-medium) {
      max-width: 50%;
    }
  }

  &__heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    & > * {
      margin-bottom: 2rem;
    }

    @media screen and (min-width: $bp-medium) {
      width: 50%;
      margin-left: 6vw;
    }
  }

  &__title {
    font-size: $fs-large;
    font-weight: 300;

    @media screen and (min-width: $bp-large) {
      font-size: $fs-xlarge;
    }
  }

  &__subtitle {
    font-size: $fs-small;
    font-weight: 300;

    @media screen and (min-width: $bp-large) {
      font-size: $fs-medium;
    }
  }

  &__details {
    display: flex;
    flex-direction: column;
    align-items: center;

    & > * {
      margin-bottom: 2rem;
    }

    @media screen and (min-width: $bp-large) {
      flex-direction: row;
      justify-content: center;
    }
  }

  &__github {
    display: inline-block;
    text-align: center;
  }

  &__icon {
    @extend .social__icon;

    @media screen and (min-width: $bp-large) {
      width: 5rem;
    }

    @media screen and (min-width: $bp-large) {
      width: 3vw;
    }
  }

  &__tech {
    width: 100%;

    @media screen and (min-width: $bp-large) {
      align-self: flex-start;
      text-align: right;
      width: auto;
      margin-right: 2rem;
    }
  }

  &__tech-header {
    @extend .skills__header;
    color: $dark-grey;
  }

  &__tech-list {
    @extend .skills__list;
  }

  &__text {
    @media screen and (min-width: $bp-large) {
      width: 50%;
      margin-left: 2rem;
    }
  }

  &__back-link {
    color: $dark-grey;
    display: inline-block;
    text-align: center;
    padding-bottom: 5px;
    border-bottom: 1px solid $dark-grey;
    margin: 2rem 0;
  }

  &__footer {
    @extend .footer;
    height: 15rem;

    &__logo a {
      color: $white;
      font-size: $fs-medium;
      font-weight: 300;
    }
  }

  &__social {
    @extend .social;

    li a img {
      width: 2rem;
    }
  }

  &__copyright {
    font-size: $fs-xsmall;
  }
}
