.projects-page {
  &__header {
    @extend .projects__header;
    font-size: $fs-large;
    margin-bottom: 30vh;
    font-weight: 300;

    @media screen and (min-width: $bp-large) {
      font-size: $fs-xlarge;
    }
  }

  &__projects {
    @extend .projects;
    margin-top: 30vh;
  }

  &__item {
    @extend .projects__item;

    &:last-child::after {
      // remove vertical rule after last item
      display: none;
    }
  }

  &__view-project {
    @extend .projects__item__view-project;
  }
}
