@import url("https://fonts.googleapis.com/css?family=Karla:400,700|Lora:400,400i,700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-size: 1.8rem;
  font-family: "Karla", sans-serif;
  color: #111;
  line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Karla", sans-serif;
  line-height: 1.2;
}

h1 {
  font-size: 6rem;
}

h3 {
  margin-bottom: 2rem;
}

a {
  text-decoration: none;
  color: #111;
}

ul {
  list-style: none;
}

.button, .nav__menu-button {
  color: #111;
  font-size: 1.8rem;
  font-family: "Karla", sans-serif;
  border: none;
  background-color: inherit;
  cursor: pointer;
}
.button:focus, .nav__menu-button:focus {
  outline: none;
}
.button:active, .nav__menu-button:active {
  background-color: none;
}

.menu {
  padding: 160px 80px;
  visibility: hidden;
  background-color: #111;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 1;
}
.menu h3 {
  color: #777;
  font-weight: 300;
}
.menu__link {
  font-size: 4rem;
  line-height: 1.4;
  color: #ffffff;
}
.visible {
  visibility: visible;
  overflow: hidden;
}

.container {
  padding: 2rem;
}

.footer, .project-page__footer {
  background-color: #111;
  color: #ffffff;
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.footer__logo {
  font-size: 4rem;
  font-weight: 300;
}

.contact h5 {
  font-weight: 300;
  color: #777;
}
.contact a {
  color: #ffffff;
}

.social, .project-page__social {
  display: flex;
  justify-content: space-evenly;
}
.social__icon, .project-page__icon {
  background-color: #ffffff;
  filter: invert(100%);
}

.copyright {
  font-size: 1.8rem;
}

.header {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  padding: 2rem;
  z-index: 2;
}
.nav__navlist {
  display: none;
}
.nav__item:not(:last-child) {
  margin-right: 1rem;
}

.invert {
  color: #ffffff;
}
.invert button {
  color: #ffffff;
}

.about {
  margin-bottom: 6rem;
}

.skills {
  margin-bottom: 6rem;
}
.skills__header, .project-page__tech-header {
  margin-bottom: 2rem;
}
.skills__list, .project-page__tech-list {
  font-size: 2.4rem;
}

.bio__header {
  margin-bottom: 2rem;
}

.projects, .projects-page__projects {
  text-align: center;
  margin-bottom: 6rem;
}
.projects__header, .projects-page__header {
  margin-bottom: 4rem;
}
.projects__item, .projects-page__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.projects__item > :not(:last-child), .projects-page__item > :not(:last-child) {
  margin-bottom: 2rem;
}
.projects__item__title {
  font-weight: 300;
}
.projects__item__image {
  width: 100%;
}
.projects__item::after, .projects-page__item::after {
  z-index: 0;
  margin: 4rem auto;
  display: block;
  content: "";
  width: 1px;
  background-color: #d1d1d1;
  height: 6rem;
}
.projects__page-link {
  padding-bottom: 5px;
  border-bottom: 1px solid #111;
}

.projects-page__header {
  font-size: 4rem;
  margin-bottom: 30vh;
  font-weight: 300;
}
.projects-page__projects {
  margin-top: 30vh;
}
.projects-page__item:last-child::after {
  display: none;
}

.project-page {
  background-color: #111;
  color: #ffffff;
}
.project-page__project {
  padding-top: 10vh;
}
.project-page__main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.project-page__main > * {
  margin-bottom: 2rem;
}
.project-page__image {
  display: block;
  position: relative;
  width: 100vw;
}
.project-page__title {
  font-size: 4rem;
  text-align: center;
}
.project-page__subtitle {
  font-size: 1.8rem;
  font-weight: 300;
  text-align: center;
}
.project-page__details {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.project-page__details > * {
  margin-bottom: 2rem;
}
.project-page__github {
  display: inline-block;
  text-align: center;
}
.project-page__tech {
  width: 100%;
}
.project-page__tech-header {
  color: #777;
}
.project-page__back-link {
  color: #777;
  display: inline-block;
  text-align: center;
  padding-bottom: 5px;
  border-bottom: 1px solid #777;
  margin-bottom: 6rem;
}
.project-page__footer {
  height: 15rem;
}
.project-page__footer__logo {
  font-size: 2.4rem;
  font-weight: 300;
}
.project-page__social li a img {
  width: 2rem;
}
.project-page__copyright {
  font-size: 1.2rem;
}

/*# sourceMappingURL=main.css.map */
