@import url("https://fonts.googleapis.com/css?family=Karla:400,700|Lora:400,400i,700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-size: 1.8rem;
  font-family: "Karla", sans-serif;
  color: #101010;
  line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Karla", sans-serif;
  line-height: 1.2;
}

h1 {
  font-size: 6rem;
}

h3 {
  margin-bottom: 2rem;
}

a {
  text-decoration: none;
  color: #101010;
}

ul {
  list-style: none;
}

.button, .nav__menu-button {
  color: #101010;
  font-size: 1.8rem;
  font-family: "Karla", sans-serif;
  border: none;
  background-color: inherit;
  cursor: pointer;
}
.button:focus, .nav__menu-button:focus {
  outline: none;
}
.button:active, .nav__menu-button:active {
  background-color: none;
}

.menu {
  padding: 160px 80px;
  visibility: hidden;
  background-color: #101010;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 1;
}
.menu h3 {
  color: #777;
  font-weight: 300;
}
.menu__link {
  font-size: 4rem;
  line-height: 1.4;
  color: #ffffff;
}
.visible {
  visibility: visible;
  overflow: hidden;
}

.container {
  padding: 2rem;
}

.footer {
  background-color: #101010;
  color: #ffffff;
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.footer__logo {
  font-size: 4rem;
  font-weight: 300;
}

.contact h5 {
  font-weight: 300;
  color: #777;
}
.contact a {
  color: #ffffff;
}

.social {
  display: flex;
  justify-content: space-evenly;
}
.social__icon {
  background-color: #ffffff;
  filter: invert(100%);
}

.copyright {
  font-size: 1.8rem;
}

.header {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  padding: 2rem;
  z-index: 2;
}
.nav__navlist {
  display: none;
}
.nav__item:not(:last-child) {
  margin-right: 1rem;
}

.invert {
  color: #ffffff;
}
.invert button {
  color: #ffffff;
}

.about {
  margin-bottom: 6rem;
}

.skills {
  margin-bottom: 6rem;
}
.skills__header {
  margin-bottom: 2rem;
}
.skills__list {
  font-size: 2.4rem;
}

.bio__header {
  margin-bottom: 2rem;
}

.projects, .project-page__projects {
  text-align: center;
  margin-bottom: 6rem;
}
.projects__header {
  margin-bottom: 4rem;
}
.projects__item, .project-page__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.projects__item > :not(:last-child), .project-page__item > :not(:last-child) {
  margin-bottom: 2rem;
}
.projects__item__title {
  font-weight: 300;
}
.projects__item__image {
  width: 100%;
}
.projects__item::after, .project-page__item::after {
  z-index: 0;
  margin: 4rem auto;
  display: block;
  content: "";
  width: 1px;
  background-color: #d1d1d1;
  height: 6rem;
}
.projects__page-link {
  padding-bottom: 5px;
  border-bottom: 1px solid #101010;
}

.project-page__projects {
  margin-top: 10rem;
}
.project-page__item:last-child::after {
  display: none;
}

/*# sourceMappingURL=main.css.map */
