.button {
  font-size: $mobile-small;
  font-family: $secondary-font;
  border: none;
  background-color: inherit;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

.nav__menu-button {
  @extend .button;
}
