.footer {
  background-color: $black;
  color: $white;
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  &__logo {
    font-size: $mobile-large;
    font-weight: 300;
  }
}

.contact {
  h5 {
    font-weight: 300;
    color: $dark-grey;
  }

  a {
    color: $white;
  }
}

.social {
  display: flex;
  justify-content: space-evenly;
  &__icon {
    background-color: $white;
    filter: invert(100%);
  }
}

.copyright {
  font-size: $mobile-small;
}
