.footer {
  background-color: $black;
  color: $white;
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  &__logo a {
    color: $white;
    font-size: $fs-large;
    font-weight: 300;
  }

  @media screen and (min-width: $bp-medium) {
    height: 30rem;
    align-items: center;

    & > * {
      width: 50%;
    }
  }

  // TEXT HIGHLIGHTING

  & h1::selection,
  & h2::selection,
  & h3::selection,
  & h4::selection,
  & h5::selection,
  & h6::selection,
  & p::selection,
  & li::selection,
  & a::selection,
  & span::selection,
  & img::selection {
    background-color: $white;
    color: $black;
  }
}

.contact {
  h5 {
    font-weight: 300;
    color: $dark-grey;
  }

  a {
    color: $white;
  }
}

.social {
  display: flex;
  justify-content: space-evenly;
  &__icon {
    background-color: $white;
    filter: invert(100%);
  }
}

.copyright {
  font-size: $fs-small;
  color: $dark-grey;
}
