.nav {
  // background-color: inherit;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  padding: 2rem;
  z-index: 2;

  &__menu-button {
    @media screen and (min-width: $bp-medium) {
      display: none;
    }
  }

  &__navlist {
    display: none;

    @media screen and (min-width: $bp-medium) {
      display: flex;
    }
  }

  &__item {
    &:not(:last-child) {
      margin-right: 4rem;
    }

    &--disabled {
      @extend .nav__item;

      a {
        color: $dark-grey;
        pointer-events: none;
      }
    }
  }

  @media screen and (min-width: $bp-medium) {
    padding: 2rem 10vw;
  }
}

.invert {
  color: $white;

  button {
    color: $white;
  }

  a {
    color: $white;
  }
}
